name: Build Plugins

on: [push, pull_request]

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Clone Plugins
        uses: actions/checkout@v3

      - name: Build Plugins
        run: dotnet publish -c Release src

      - name: Install Plugin Uploader
        run: dotnet tool install ArtemisRGB.Tools.PluginUploader --global

      - name: Upload build artifacts
        uses: actions/upload-artifact@v3
        with:
          name: plugins
          path: src/**/bin/Release/net*/publish/
